NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SUPABASE_URL=https://pqlqasspgyayieyhbwpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxbHFhc3NwZ3lheWlleWhid3BmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MjAwODYsImV4cCI6MjA4OTM5NjA4Nn0.DajRNlDc4IJeeGi5pGG1aNGq0bVK_FYgQAMfNERazU4
